In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Combined.xlsx', index_col='index')
data.head()

,%top,Ligand,ER1,ER2,ER3,ER4,ER5,ER6,ER7,EZ,...,ligand,mol% Rh,mol% ligand,solvent,substrate,temp,time,yield,Original,Confg
index,,,,,,,,,,,,,,,,,,,,,
0,6.000000,C1(CC2=CC=CC=C2)=C[C@@H]3C(CC4=CC=CC=C4)=C[C@H...,-0.09,0.0,0.0,-0.09,0.00,0.0,0.00,0.0,...,L3.1,1.5,3.0,dioxane,O=C1C=CCC1,50,1.0,88.0,1,1
1,2.333333,C1(CC2=CC=CC=C2)=C[C@@H]3C(CC4=CC=CC=C4)=C[C@H...,-0.09,0.0,0.0,-0.09,0.00,0.0,0.00,0.0,...,L3.1,1.5,3.0,dioxane,O=C1C=CCCC1,30,1.0,94.0,1,1
2,79.000000,C=CCC1=C[C@]2(C)C=C[C@H]1[C@@](OC)(C)C2,-0.14,0.0,0.0,0.00,-0.17,0.0,-0.27,0.0,...,L3.61,1.5,3.3,dioxane,O=C1C=CCCC1,25,1.0,93.0,1,1
3,97.500000,C=CCC1=C[C@]2(C)C(CC(C)C)=C[C@H]1[C@@](OC)(C)C2,0.07,0.0,0.0,-0.12,-0.17,0.0,-0.27,0.0,...,L3.63,1.5,3.3,dioxane,O=C1C=CCCC1,25,1.0,87.0,1,1
4,91.000000,CCCC1=C[C@]2(C)C(C3=CC=CC=C3)=C[C@H]1[C@@](OC)...,-0.13,0.0,0.0,-0.01,-0.17,0.0,-0.27,0.0,...,L3.65,1.5,3.3,dioxane,O=C1C=CCCC1,25,1.0,85.0,1,1

In [3]:
data['ligand_num'] = pd.factorize(data['ligand'])[0] + 1

In [4]:
fam1 = ['L3.1', 'L3.2', 'L3.3', 'L3.4', 'L3.5', 'L3.6', 'L3.7', 'L3.8', 'L3.9']
fam2 = ['L3.10', 'L3.11', 'L3.12', 'L3.13', 'L3.14', 'L3.15', 'L3.16']
fam3 = ['L3.17','L3.18','L3.19','L3.20','L3.21','L3.22','L3.23','L3.24','L3.25','L3.158','L3.159','L3.160','L3.161']
fam4 = ['L3.26','L3.27','L3.28','L3.29','L3.30','L3.31','L3.32','L3.33','L3.34','L3.35','L3.36','L3.37','L3.38','L3.39', 'L3.163']
fam5 = ['L3.40','L3.41','L3.42','L3.43''L3.44''L3.45','L3.46','L3.47','L3.48','L3.49','L3.50','L3.51','L3.52','L3.53', 'L3.54','L3.55','L3.56','L3.57','L3.58','L3.59', 'L3.60']
fam6 = ['L3.61','L3.62','L3.63','L3.64','L3.65','L3.66','L3.67','L3.68','L3.69','L3.70','L3.71','L3.72']
fam7 = ['L3.73','L3.74','L3.75','L3.76','L3.77','L3.78','L3.79','L3.80','L3.81','L3.82','L3.83','L3.84','L3.85','L3.86','L3.87']
fam8 = ['L3.156', 'L3.157']

In [5]:
data['fam'] = 0
data.loc[data['ligand'].isin(fam1),'fam'] = 'fam1'
data.loc[data['ligand'].isin(fam2),'fam'] = 'fam2'
data.loc[data['ligand'].isin(fam3),'fam'] = 'fam3'
data.loc[data['ligand'].isin(fam4),'fam'] = 'fam4'
data.loc[data['ligand'].isin(fam5),'fam'] = 'fam5'
data.loc[data['ligand'].isin(fam6),'fam'] = 'fam6'
data.loc[data['ligand'].isin(fam7),'fam'] = 'fam7'
data.loc[data['ligand'].isin(fam8),'fam'] = 'fam8'

In [6]:
data.to_csv('data_aug.csv')